/* Button styling */
.all-movies-btn {
    background-color: #e7c400; /* Netflix red */
    color: white;
    font-size: 14px; /* Responsive font size */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%; /* Full width */
    text-align: center; /* Center text */
  }
  
  /* Button hover effects */
  .all-movies-btn:hover {
    background-color: #f40612; /* Lighter shade on hover */
  }