/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between; /* Elements spaced out */
  align-items: center;
  padding: 20px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10; /* Ensures header stays on top */
  background-color: rgba(0, 0, 0, 0.8); /* Adding some opacity for better visibility */
}

.logo {
  width: 150px; /* Default size for desktop */
}

.header-right {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px; /* Space between buttons */
  width: 100%; /* Ensure the container takes full width */
}

/* Responsive styles */
@media (max-width: 768px) {
  .header-right {
      flex-direction: column; /* Stack buttons vertically on small screens */
      width: 100%; /* Ensure the container takes full width */
      justify-content: space-between; /* Space buttons evenly */
      margin-top: 10px; /* Margin above buttons */
  }
  
  .signin-btn {
      width: 100%; /* Ensure buttons take full width */
      padding: 12px; /* Adjust padding for bigger buttons */
  }
}

/* Button styling */
.signin-btn {
  background-color: #e50914; /* Netflix red */
  color: white;
  font-size: 14px; /* Responsive font size */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 100%; /* Full width */
  text-align: center; /* Center text */
}

.logout-btn{
  background-color: #e50914; /* Netflix red */
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Button hover effects */
.signin-btn:hover {
  background-color: #f40612; /* Lighter shade on hover */
}


/* Mobile-first approach: For smaller screens */

/* Extra small screens (max-width: 576px) */
@media (max-width: 576px) {
  .header {
    padding: 10px;
  }

  .logo {
    width: 120px; /* Smaller logo for mobile */
  }

  .signin-btn {
    width: 100%; /* Make the button full width on mobile */
    text-align: center;
    font-size: 13px;
    padding: 10px;
  }
  .hero-overlay .hero-title{
    font-size: 2em;
  }
  .hero-input-container{
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .email-input{
    width: 100%;
  }
}

/* Small screens (max-width: 768px) */
@media (max-width: 768px) {
  .header {
    padding: 15px 10px; /* Less padding for smaller screens */
  }

  .logo {
    width: 130px; /* Slightly smaller logo */
  }

  .signin-btn {
    padding: 8px 14px;
    font-size: 13px;
  }
}

/* Very small screens (max-width: 375px) */
@media (max-width: 375px) {
  .header {
    padding: 8px 5px;
  }

  .logo {
    width: 100px; /* Further reduce logo size */
  }

  .signin-btn {
    font-size: 12px; /* Reduce button font */
    padding: 6px 10px; /* Adjust padding for smaller size */
  }
}
