.watch-by-genre {
    padding: 20px;
    background-color: #141414;
    color: white;
}

.genre-cards {
    display: flex; /* Use flexbox for a single row */
    justify-content: space-between; /* Space between cards */
    gap: 20px; /* Space between cards */
}

.genre-card {
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
    flex: 1; /* Allow cards to grow equally */
    max-width: 24%; /* Limit width for each card */
    text-decoration: none; /* Remove underline from Link */
    color: white; /* Set text color to white */
}

.genre-card img {
    width: 100%;
    height: 70%;
}

.genre-card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.genre-card:hover {
    transform: scale(1.05); /* Zoom effect on hover */
}

h2{
    display: flex;
    justify-content: center;
    margin: 4%;
    font-size: 2.2rem;
}
